.profile-menu {
    background-color: rgb(54, 53, 53);
    position: fixed;
    right: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5%; /* o absolute dependiendo de tu diseño */
    z-index: 1030; /* valor mayor que el de sticky-top */
    
    border: 2px solid #198754;
  }
  .profile-menu2 {
    background-color: rgb(54, 53, 53);
    position: fixed;
    right: 170px;
    color: rgb(255, 255, 255);
    border-radius: 5%; /* o absolute dependiendo de tu diseño */
    z-index: 1030; /* valor mayor que el de sticky-top */
    border: 2px solid #198754;
    
  }
  .floatingbutton{
    position: fixed;
    right: 7px;
    bottom: 7px
  }
  ul {
    list-style: none;
    padding: 10px 10px;
    
  }
  
  li {
    margin-top: 2px;
    padding: 3px;
  }
  
  li:hover {
    cursor: pointer;
  }


  .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 6px; /* Ajusta el padding para reducir la altura */
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
    font-size: 0.8rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.btn1-info {
    background-color: #5bc0de   ;
}

.btn1-warning {
    background-color: #f0ad4e  ;
}

.btn1-danger {
    background-color: #d9534f  ;
}

.btn1:hover {
    opacity: 0.8;
}



.tabs-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #198754;
  color: white;
  border-color: #198754;
}


.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 0 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.circle.active {
  background-color: #198754;
  border-color: #198754;
}